module "CreateAzureVM" {
    // source=""
    name_machine = "jenkins_server"
}
provider "docker" {
    alias="abc"
    host="tcp://${module.CreateAzureVM.ip_address[0]}:2375"
}

resource "docker_container" "container" {
  provider = "docker.abc"
  name  = "jenkins_image"
  image = "${docker_image.jenkins.latest}"

   depends_on = [
    aws_iam_role_policy.example,
  ]
}

# Find the latest Ubuntu precise image.
resource "docker_image" "jenkins" {
  name = "jenkins/jenkins:lts"
}